.ratings {
  display: flex;
  justify-content: space-around;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 130px;
  opacity: 0.8;
}


.circle {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: solid 4px #80d4ff;
  text-align: center;
  position: relative;
  z-index : 1;
  margin: auto;

}
.sad:before{
  content: "";
  position: absolute;
  left: 20%;
  bottom: 10px;
  height: 15px;
  width: 30px;
  border-top: solid 4px #80d4ff;
  border-right: solid 4px #80d4ff;
  border-left: solid 4px #80d4ff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.worst:before {
  border-bottom: solid 3px #80d4ff;
}

.regular:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 14px;
  height: 8px;
  width: 30px;
  border-bottom: solid 4px #80d4ff;

}
.smile:before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 10px;
  height: 15px;
  width: 30px;
  border-bottom: solid 4px #80d4ff;
  border-right: solid 4px #80d4ff;
  border-left: solid 4px #80d4ff;
  border-bottom: solid 4px #80d4ff;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.best:before {
  border-top: solid 4px #80d4ff;
}
.big{
  height: 300px;
  width: 300px;
  border-radius: 300px;
  border: solid 10px #80d4ff;


}
