.ratings {
  display: flex;
  justify-content: space-around;
  margin-left: 240px;
  margin-right: 240px;
  margin-top: 130px;
  opacity: 0.8;
}

.outside {
  height: 120px;
  width: 120px;
  border-radius: 120px;
  text-align: center;
  position: relative;
  z-index : 1;
  margin: auto;

}

.outside:hover {
  animation-name: example;
  animation-duration: 0.5s;
  transition: width 2s, height 2s, transform 2s;

}
.circle {
  height: 60px;
  width: 60px;
  border-radius: 60px;
  border: solid 4px #80d4ff;
  text-align: center;
  position: relative;
  z-index : 1;
  margin: auto;
  margin-top: 28px;
}
.sad:before{
  content: "";
  position: absolute;
  left: 20%;
  bottom: 10px;
  height: 15px;
  width: 30px;
  border-top: solid 4px #80d4ff;
  border-right: solid 4px #80d4ff;
  border-left: solid 4px #80d4ff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.worst:before {
  border-bottom: solid 3px #80d4ff;
}

.regular:before {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 14px;
  height: 8px;
  width: 30px;
  border-bottom: solid 4px #80d4ff;

}
.fill{
  height: 100%;
  border-radius: 30px;
}
.smile:before {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 10px;
  height: 15px;
  width: 30px;
  border-bottom: solid 4px #80d4ff;
  border-right: solid 4px #80d4ff;
  border-left: solid 4px #80d4ff;
  border-bottom: solid 4px #80d4ff;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.best:before {
  border-top: solid 4px #80d4ff;
}
@keyframes example {
  0%   {
    background: radial-gradient(purple 10%, white 100%);
  }
  25%  {
    background: radial-gradient(purple 20%,white 80%);
  }
  
  100% {
    background: radial-gradient(purple 20%,white 80%);
  }
}
